/*Styles for frontend */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap');
 
:root {
  --bg-color: #222;
  --text-color: #eeefff;
  --link-color: #22af22;
  --border-color: #99cc99;
}

span.popcard {
	position: absolute;
	color: var(--text-color);
	background: var(--bg-color);
	font-size: 0.8em;
	line-height: 1.5;
	padding: 2px 10px;
	width: 50px;
	height: 20px;
	visibility:hidden;
	white-space: pre-wrap;
	overflow:hidden;	
}
span.popcard a {
	color: var(--link-color);
	border-bottom: 1px dotted;
	transition: none;
	font-size: 0.9em;
}

span.show-card {
	position: absolute;
	height: auto;
	width: 220px;
	margin: -3em 10px 10px 2px;
	border: 1px solid var(--border-color);
	border-radius: 2px;
	box-shadow: 2px 2px 6px var(--text-color);
	visibility: visible;
		
}

//Arrow for card
span.show-card::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 6px;
	border-width: 12px;
	border-style: solid;
	border-color: var(--border-color) transparent transparent transparent;
}

//class for visually hidden, compatible with screen reader
//sr-only overridden in Elementor by Fontawesome with same class
.popcard-sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}


